<h1>Song list</h1>

<% content_for :head do %>
<script type="text/javascript">
  console.log(1);
  window.onload = function() {
  <% @songs.each do |song| %>
  console.log("<%= song.url %>")
  window.player_<%= song.url.hash.abs %> = new Clappr.Player({source: "<%= song.url %>",
  parentId: "#song-<%= song.url.hash.abs %>", autoPlay:false,
  width:600, height:50, hideMediaControl:false});
  <% end %>
  console.log(3);
  }
</script>
<% end %>

<div class="songs">
  <div class="photo">
    <a href="<%= url_for :controller => 'upload', :action => 'show' %>"> Upload </a>
  </div>
  <% @songs.each do |song| %>
  <div class="photo">
    <%= song.title %>
    <div  id="song-<%= song.url.hash.abs %>">
    </div>
  </div>
  <% end %>
</div>
